/*Botones*/

.btn {
    color: white;
    padding: 16px 14px;
    border: none;
    cursor: pointer;
    width: 90%;
    border-radius: 0px;
}

.success{
    background-color: #04aa6dc7;
}

.success:hover{
    background-color: #04aa6d;
    color: white;
}

.cancel {
    background-color: rgba(255, 0, 0, 0.822);
}

.cancel:hover{
    background-color: rgb(255, 0, 0);
    color: white;
}

.User{
    background-color: #d13b00c9;
    margin-bottom:10px;
}

.User:hover{
    background-color: #d13b00;
    color: white;
}

.signin{
    background-color: #899ab4de;
}

.signin:hover{
    background-color: #899ab4;
    color: white;
}

.formBtn{
    display: flex;
}

.btn-comment{
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    color: white;
    background-color: #eba059d2;
}

.btn-comment:hover {
    background-color: #eba059;
}

.accordion-item:focus {
    outline: none;
    background: none;
    border: none;
}

.accordion-item:active {
    outline: none;
    background: none;
    border: none;
}