/*Modal*/

.modal{
    display: none;
    background-color: rgba(0, 0, 0, 0.158);
}

.modal-content{
    display: none;
    position: absolute;
    top: 50%;
    left: 55%;
	transform: translate(-55%, -50%);
    width: 550px;
    padding: 20px;
}