body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Nav*/

.navbar {
    height: 7.5vh;
    background-color: #f9ded3;
}

.navbar a, img {
    height: max-content;
    float: left;
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #fdd1b6;
    color: black;
}

.navbar .icon {
    display: none;
}

/*Dropdown*/

.dropdown-item{
    width: 550px;
    background-color: white;
}
.dropdown-item:hover{
    background-color: white;
}

.dropdown-item:active{
    background-color: white;
}

.row{
    padding: 15px;
}

.rigth{
    border-left-style: groove;
    padding-top: 30px;
}

/*Formulario*/

h1 {
    color: #89abb4;
    text-align: center;
}

hr{
    border: 1px solid;
}

label {
    color: #89abb4d0;
}

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: whitesmoke;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/*Botones*/

.btn {
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 90%;
    margin-bottom:10px;
    border-radius: 0px;
    opacity: 0.8;
}

.success{
    background-color: #04aa6dc7;
}

.success:hover{
    background-color: #04aa6d;
    color: white;
}

.cancel {
    background-color: rgba(255, 0, 0, 0.822);
}

.cancel:hover{
    background-color: rgb(255, 0, 0);
    color: white;
}

.User{
    background-color: #c7b6bec4;
}

.User:hover{
    background-color: #c7b6be;
    color: white;
}

.signin{
    background-color: #a09299d3;
}

.signin:hover{
    background-color: #a09299;
    color: white;
}

.formBtn{
    display: flex;
}

/*Modal*/

.modal{
    display: none;
    background-color: rgba(0, 0, 0, 0.158);
}

.modal-content{
    display: none;
    position: absolute;
    top: 50%;
    left: 55%;
	transform: translate(-55%, -50%);
    width: 550px;
    padding: 20px;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}